.busqueda-global {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    color: #333;
  
    h2 {
      text-align: center;
      font-size: 1.75rem;
      margin-bottom: 2rem;
      color: #4d4c4c;
    }
  
    h3 {
      font-size: 1.25rem;
      margin-top: 2rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.25rem;
      color: #333;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        background-color: #f9f9f9;
        margin: 0.5rem 0;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
  
        &:hover {
          background-color: #eef6ff;
        }
      }
    }
    
  }

  .sin-resultados {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: #555;
    background-color: #f8f9fa;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
  
    svg {
      margin-right: 0.5rem;
    }
  
    strong {
      color: #555;
    }
  }
  
  